// WIDESCREEN (XL) (min-width: 1171px) //////////////////////////////////////////////////////////////////////////////////////////
@include mediaXl { 
    // contact.html
    main#contact {
        .lg-heading {
            margin-top: 2rem;
            margin-bottom: 6rem;
            text-align: center;
        }

        .boxes div {
            font-size: 2rem;
            padding: 2.5rem;
            margin-bottom: 3.5rem;
        }
    } 

    // work.html
    main#work {
        .projects {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    
    // all
    main {
        .bio {
            font-size: 1.5rem;
        }

        p {
            line-height: 1.5;
        }

        .lg-heading {
            font-size: 90px;
        }

        .sm-heading {
            font-size: 40px;
        }
    }
}


// DESKTOPS AND LAPTOPS (L) (min-width: 769px) and (max-width: 1170px) //////////////////////////////////////////////////////////////////////
@include mediaLg {
    //about.html
    main#about {
        .about-info {
            grid-template-areas: 
            'bioimage'
            'bio'
            'job1'
            'job2'
            'job3';
            grid-template-columns: 1fr;
            
            .bio {
                text-align: left;
                background: rgba(lighten($primary-color, 3), 0.5);
                padding: 1rem;
        
                h3 {
                    text-align: center;
                }
            }
        }      
    }
    
    // contact.html
    main#contact {    
        .lg-heading {
            margin-top: 3rem;
            align-items: center;
            text-align: center;
            line-height: 1;
            margin-bottom: 5rem;
            
        }    
        
        .boxes div {
            font-size: 1.6rem;
            padding: 2rem;
            margin-bottom: 3rem;
        }
    }

    // work.html
    main#work {
        .projects {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    // all
    main {
        .bio {
            font-size: 1.4rem;
        }

        p {
            line-height: 1.4;
        }

        .lg-heading {
            font-size: 80px;
        }

        .sm-heading {
            font-size: 35px;
        }
    }
}


// TABLETS AND SMALL LAPTOPS (M) (min-width: 631px) and (max-width: 768px) ///////////////////////////////////////////////////////////////////////////
@include mediaMd {
    //about.html
    main#about {
        .about-info {
            grid-template-areas: 
            'bioimage'
            'bio'
            'job1'
            'job2'
            'job3';
            grid-template-columns: 1fr;
            
            .bio {
                text-align: left;
                background: rgba(lighten($primary-color, 3), 0.5);
                padding: 1rem;
        
                h3 {
                    text-align: center;
                }
            }
        }
    }

    // contact.html
    main#contact {
        .lg-heading {
            align-items: center;
            text-align: center;
            line-height: 1;
            margin-top: 3rem;
            margin-bottom: 5rem;
        }

        div {
            font-size: 1.2rem;
            padding: 1.5rem;
            margin-bottom: 2.5rem;
        }
    }

    // index.html
    main#home {
        .icons {
            text-align: center;
        }
    }

    // work.html
    main#work {
        .projects {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // all
    ul.menu-nav, 
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;
        
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 60vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 40vh;
        transform: translate3d(100%, 0, 0);

        .portrait{
            background: url('../img/portrait2.jpg');
            width: 150px;
            height: 150px;
        }
    }

    main {
        .bio {
            font-size: 1.3rem;
        }

        p {
            line-height: 1.3;
        }

        .lg-heading {
            font-size: 70px;
            text-align: center;
        }
        
        .sm-heading {
            text-align: center;
            font-size: 30px;
        }
    }
}


// MOBILE (S) (max-width: 630px) ///////////////////////////////////////////////////////////////////////////////
@include mediaSm {
    //about.html
    main#about {        
        .about-info {
            grid-template-areas: 
            'bioimage'
            'bio'
            'job1'
            'job2'
            'job3';   
            grid-template-columns: 1fr;
            
            .bio {
                text-align: left;
                background: rgba(lighten($primary-color, 3), 0.5);
                padding: 1rem;
                
                h3 {
                    text-align: center;
                }
            }
        }
    } 
    
    // contact.html
    main#contact {
        .lg-heading {
            margin-top: 3rem;
            margin-bottom: 4rem;
            text-align: center;
        }

        .boxes div {
            font-size: 0.8rem;
            padding: 1rem;
            margin-bottom: 2rem;
        }
    }

    // index.html
    main#home {
        min-height: 100vh;

        .icons {
            text-align: center;
        }
    }
    
    // work.html 
    main#work {
        .projects {
            grid-template-columns: repeat(1, 1fr);
        }
    } 

    // all
    ul.menu-nav, 
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;
        
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait{
            background: url('../img/portrait2.jpg');
            width: 150px;
            height: 150px;
        }
    }

    main {
        align-items: center;

        .bio {
            font-size: 1.2rem;
        }
        
        p {
            line-height: 1.2;
        }

        .lg-heading {
            font-size: 50px;
            text-align: center;
        }

        .sm-heading {
            text-align: center;
            font-size: 25px;
        }
    }
}